body { 
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    height: 500px;
    width: 500px;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.row {
    display: flex;
    flex: 1;
    /* border: 1px solid blue; */
}

.column {
    /* no need to write display flex as inherited from row */
    border: 1px solid pink;
    /* background-color: blue; */
    flex: 1;
}

.user-info {
    display: flex;
    margin: 10px;
}



