body { 
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(easyhearts.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .content { 
    display: flex;
    justify-content: space-around;
} */

#grid {
    height: 500px;
    width: 500px;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.row {
    display: flex;
    flex: 1;
    /* border: 1px solid blue; */
}

.column {
    /* no need to write display flex as inherited from row */
    border: 1px solid pink;
    /* background-color: blue; */
    flex: 1;
}

.user { 
    display: inline-block;
}

#user-inputs {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

button {
    cursor: pointer;
    padding: 3px 12px;
    border-radius: 3px;
    background: rgb(247, 105, 207);
    border: 1px solid rgb(248, 76, 105);
    color: black;
    font-weight: bold;
  }
  
button#clear {
    margin-left: auto;
} 

button#sub-btn {
    margin-right: auto;
    margin-left: 5px;
} 

footer {
    margin-top: 10px;
    font-weight: bold;
}

.text { 
    margin-right: 5px;
}